@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

$font-default: 'Nunito Sans', Arial, sans-serif;
$shadow-default-color: hsl(0, 0%, 52%);

$dark-theme-colors: (
    "element": hsl(209, 23%, 22%),
    "background": hsl(207, 26%, 17%),
    "text": hsl(0, 0%, 100%),
);

$light-theme-colors: (
    "element": hsl(0, 0%, 100%),
    "background": hsl(0, 0%, 98%),
    "text": hsl(200, 15%, 8%),
);

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: $font-default;
}

@mixin theme($colors) {
    color: map-get($colors, "text");
    background-color: map-get($colors, "background");
}

@mixin element($colors) {
    background-color: map-get($colors, "element");
    box-shadow: 0 0 8px rgb(map-get($colors, "text"), .09);
    border-radius: 6px;
    transition: 300ms ease-in-out;

    &:hover {
        box-shadow: 0 0 8px rgb(map-get($colors, "text"), .22);
    }
}

body {
    @include theme($light-theme-colors);
}

body.dark {
    @include theme($dark-theme-colors);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 26px 60px;
    background-color: map-get($light-theme-colors, "element");
    box-shadow: 0 2px 4px rgb($shadow-default-color, .12);

    h1 {
        font-size: 27px;
        font-weight: bold;
    }

    .container-theme {
        display: flex;
        font-size: 18px;
        font-weight: bold;
    }
}

main {
    padding: 0 60px;
    article {
        .container-search {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            .text-search {
                i {
                    left: 30px;
                    font-size: 23px;
                    font-weight: bold;
                    position: absolute;
                    color: $shadow-default-color;
                }
            }

            .text-search, .select-search {
                display: flex;
                align-items: center;
                position: relative;
                
                input, select {
                    @include element($light-theme-colors);
                    padding: 19px 24px;
                    font-size: 16px;
                    font-weight: 600;
                }

                input {
                    width: 370px;
                    padding-left: 70px;

                    &::placeholder {
                        color: $shadow-default-color;
                    }
                }

                select {
                    width: 220px;
                }
            }
        }

        .container-countries {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;

            .container-country {
                width: 280px;
                height: 350px;
                cursor: pointer;
                @include element($light-theme-colors);
                
                .country-img {
                    object-fit: cover;
                    border-radius: 6px 6px 0 0;
                    width: 100%;
                    height: 170px;
                }

                .country-text {
                    padding: 26px;
                    
                    .country-name {
                        font-size: 23px;
                        margin-bottom: 12px;
                    }
                    .country-information li {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}