@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", Arial, sans-serif;
}

body {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
}

body.dark {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 26px 60px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 4px rgba(133, 133, 133, 0.12);
}
header h1 {
  font-size: 27px;
  font-weight: bold;
}
header .container-theme {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

main {
  padding: 0 60px;
}
main article .container-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
main article .container-search .text-search i {
  left: 30px;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  color: hsl(0, 0%, 52%);
}
main article .container-search .text-search, main article .container-search .select-search {
  display: flex;
  align-items: center;
  position: relative;
}
main article .container-search .text-search input, main article .container-search .text-search select, main article .container-search .select-search input, main article .container-search .select-search select {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
  padding: 19px 24px;
  font-size: 17px;
  font-weight: 600;
}
main article .container-search .text-search input:hover, main article .container-search .text-search select:hover, main article .container-search .select-search input:hover, main article .container-search .select-search select:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
main article .container-search .text-search input, main article .container-search .select-search input {
  width: 370px;
  padding-left: 70px;
}
main article .container-search .text-search input::placeholder, main article .container-search .select-search input::placeholder {
  color: hsl(0, 0%, 52%);
}
main article .container-search .text-search select, main article .container-search .select-search select {
  width: 220px;
}
main article .container-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
main article .container-countries .container-country {
  width: 280px;
  height: 350px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
main article .container-countries .container-country:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
main article .container-countries .container-country .country-img {
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 170px;
}
main article .container-countries .container-country .country-text {
  padding: 26px;
}
main article .container-countries .container-country .country-text .country-name {
  font-size: 23px;
  margin-bottom: 12px;
}
main article .container-countries .container-country .country-text .country-information li {
  margin-bottom: 2px;
}

/*# sourceMappingURL=style.css.map */
