@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito Sans", Arial, sans-serif;
}

body {
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 98%);
}
body i.light {
  display: none;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 26px 60px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 4px rgba(133, 133, 133, 0.12);
}
body header h1 {
  font-size: 27px;
  font-weight: bold;
}
body header .container-theme {
  color: hsl(200, 15%, 8%);
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}
body header .container-theme i {
  font-size: 19px;
  padding-right: 6px;
}
body main {
  padding: 0 20px;
}
body main article .container-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}
body main article .container-search .text-search i {
  left: 30px;
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  color: hsl(0, 0%, 52%);
}
body main article .container-search .text-search, body main article .container-search .select-search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
body main article .container-search .text-search input, body main article .container-search .text-search select, body main article .container-search .select-search input, body main article .container-search .select-search select {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
  padding: 19px 24px;
  font-size: 17px;
  font-weight: 600;
}
body main article .container-search .text-search input:hover, body main article .container-search .text-search select:hover, body main article .container-search .select-search input:hover, body main article .container-search .select-search select:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
body main article .container-search .text-search input, body main article .container-search .select-search input {
  width: 370px;
  padding-left: 70px;
}
body main article .container-search .text-search input::placeholder, body main article .container-search .select-search input::placeholder {
  color: hsl(0, 0%, 52%);
}
body main article .container-search .text-search select, body main article .container-search .select-search select {
  width: 220px;
}
body main article .container-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 0 40px;
}
body main article .container-countries .container-country {
  width: 290px;
  height: 360px;
  margin-bottom: 40px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body main article .container-countries .container-country:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
body main article .container-countries .container-country .country-img {
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 170px;
}
body main article .container-countries .container-country .country-text {
  padding: 26px;
}
body main article .container-countries .container-country .country-text .country-name {
  font-size: 23px;
  margin-bottom: 12px;
}
body main article .container-countries .container-country .country-text .country-information li {
  margin-bottom: 2px;
}
body main article .container-countries .container-country .country-text .country-information li strong {
  font-weight: 600;
}
body main article .container-country-details {
  padding: 0 40px;
  margin: 60px 0;
}
body main article .container-country-details .country-back {
  display: flex;
  align-items: center;
  width: 160px;
  padding: 12px 35px;
  margin-bottom: 70px;
  font-size: 19px;
  color: hsl(200, 15%, 8%);
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body main article .container-country-details .country-back:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
body main article .container-country-details .country-back i {
  padding-right: 15px;
  font-size: 26px;
}
body main article .container-country-details .country-datails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 460px;
}
body main article .container-country-details .country-datails .country-img {
  object-fit: cover;
  width: 44%;
  height: 100%;
  box-shadow: 0 2px 8px rgba(133, 133, 133, 0.1);
}
body main article .container-country-details .country-datails .country-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 90%;
}
body main article .container-country-details .country-datails .country-text h2 {
  font-size: 34px;
}
body main article .container-country-details .country-datails .country-text .country-information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 0;
  height: 80%;
}
body main article .container-country-details .country-datails .country-text .country-information li {
  font-size: 18px;
  display: block;
  height: 20%;
  box-sizing: border-box;
}
body main article .container-country-details .country-datails .country-text .country-information li:nth-child(odd) {
  clear: both;
  float: left;
  width: 50%;
}
body main article .container-country-details .country-datails .country-text .country-border strong {
  font-size: 18px;
  padding-right: 10px;
}
body main article .container-country-details .country-datails .country-text .country-border button {
  margin: 4px 2px;
  padding: 7px 23px;
  cursor: pointer;
  color: hsl(200, 15%, 8%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body main article .container-country-details .country-datails .country-text .country-border button:hover {
  box-shadow: 0 0 8px rgba(17, 21, 23, 0.22);
}
@media screen and (max-width: 1440px) {
  body main article .container-countries .container-country {
    width: 280px;
    height: 350px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  body header {
    padding: 26px 20px;
  }
  body header h1 {
    font-size: 18px;
  }
  body header .container-theme {
    font-size: 16px;
  }
  body header .container-theme i {
    font-size: 16px;
    padding-right: 4px;
  }
  body main {
    padding: 0 15px;
  }
  body main article .container-countries {
    padding: 0 20px;
  }
  body main article .container-countries .container-country {
    width: 100vw;
    height: 390px;
    margin-bottom: 20px;
  }
  body main article .container-countries .container-country .country-img {
    height: 200px;
  }
  body main article .container-countries .container-country .country-text .country-name {
    font-size: 21px;
  }
  body main article .container-search {
    padding: 0;
  }
  body main article .container-search .text-search i, body main article .container-search .select-search i {
    font-size: 20px;
  }
  body main article .container-search .text-search select, body main article .container-search .text-search input, body main article .container-search .select-search select, body main article .container-search .select-search input {
    padding: 12px 18px;
    font-size: 15px;
  }
  body main article .container-search .text-search input, body main article .container-search .select-search input {
    padding-left: 70px;
    width: calc(100vw - 115px);
  }
  body main article .container-search .text-search select, body main article .container-search .select-search select {
    width: calc(100vw - 175px);
  }
}

body.dark {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}
body.dark i.light {
  display: block;
}
body.dark header {
  background-color: hsl(209, 23%, 22%);
}
body.dark header .container-theme {
  color: hsl(0, 0%, 100%);
}
body.dark main article .container-search .text-search i {
  color: hsl(0, 0%, 100%);
}
body.dark main article .container-search input, body.dark main article .container-search select {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body.dark main article .container-search input:hover, body.dark main article .container-search select:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.22);
}
body.dark main article .container-search input::placeholder, body.dark main article .container-search select::placeholder {
  color: hsl(0, 0%, 100%);
}
body.dark main article .container-countries .container-country {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body.dark main article .container-countries .container-country:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.22);
}
body.dark main article .container-country-details .country-back {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body.dark main article .container-country-details .country-back:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.22);
}
body.dark main article .container-country-details .country-datails .country-border button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  transition: 300ms ease-in-out;
}
body.dark main article .container-country-details .country-datails .country-border button:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.22);
}

/*# sourceMappingURL=style.css.map */
